<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>PROGRAMACION AVANZADA</title>
    <style>
        /* Agrega estilos CSS si es necesario */
    </style>
</head>
<body>
    <div class="container" id="container_app">
        <form>
            <fieldset>
                <legend>Datos de Acceso</legend>
                <label for="email">Email</label>
                <input type="email" v-model="email" placeholder="Escribe aquí" id="email" name="email">
                <label for="password">Password</label>
                <input type="password" v-model="password" placeholder="Escribe aquí" id="password" name="password"><br>
                <button @click="login" type="button">Acceder</button>
            </fieldset>
        </form>

        <!-- Tabla de usuarios -->
        <table v-if="access && users">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Teléfono</th>
                    <th>Compañía</th>
                    <th>Dirección</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="user in users" :key="user.id">
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.company }}</td>
                    <td>{{ user.address }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript">
        const { createApp, ref } = Vue;

        createApp({
            data() {
                return {
                    email: '',
                    password: '',
                    access: false,
                   
                    is_login: false,
                    user: null,
                    auxUser:[]
                }
            },
           
            methods: {
                async login() {
                    const response = await fetch("users.json");
                    const users = await response.json();

                    users.forEach((user) => {
                        if(this.email === user.email && this.password === user.password){
                            alert("Bienvenido " + user.name);
                            this.access = true;
                            this.auxUser=users;
                            this.users = users; // Almacena todos los usuarios.
                            this.is_login = true;
                            localStorage.setItem('is_login', true);
                            localStorage.setItem("user_data", JSON.stringify(user));
                        }
                    });


                    if (!this.access) {

                        alert("Datos incorrectos. Intente nuevamente.");
                    }
                },
                
                
            },
            async mounted() {
                // Verificar si el usuario ya ha iniciado sesión previamente
                if (this.access) {
                    console.log(this.is_login,this.auxUser);
                }
            },
        }).mount('#container_app');
    </script>
</body>
</html>
